<!DOCTYPE html>
<html>
<head>
    <title>ЬштвMap</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=4200, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/skill_map.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/json5@^1.0.0"></script>

</head>
<body onload="init()">
<svg id="levelContainer" style="width: 100%; height: 100%; position: absolute; z-index: -1;">
</svg>


<form id="data_from_server">
    <input type="hidden" value={{it_amount}}>
    <ul style="list-style-type: none">
        {% for elem in queue %}
        <li><input class="hidden" type="hidden" value='{{elem}}'></li>
        {% endfor %}


        <li><input id="imgFromServer" type="hidden" value="{{img}}">


    </ul>
</form>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!-- <script src="js/main.js"></script> -->
<script src="{{ url_for('static', filename='js/user.js') }}"></script>
</body>
</html>
